<div class="row-fluid" ng-controller="BroadcastVoiceCtrl">
	<!--TODO Change ids such as voiceid to data-voiceid as the former is not supported in a lot of browsers   -->
    <div id="broadcast-voice-ids" th:attr="org=${organization.abbreviation},organizationid=${organization.organizationId},groupid=${group.groupId},publisherid=${publisher.userId}">
    </div>
    
    <script th:src="@{/static/js/recordFile.js}"></script>
    
	<div class="row-fluid">	
		<div th:if="${broadcast==null}" style="text-align:left;" class="span8">
			<h4>No recording for <span th:text="${organization.name}">Organization</span> till now.</h4>
			<br>
		</div>
		<div th:unless="${broadcast==null}"  style="text-align:left;" class="span8">
	    	<h4 id = "latest-voice" th:attr="voiceid=${broadcast.voice.voiceId}">Latest Recorded Audio</h4>
	      	<br>
	      	<audio th:attr="src=${broadcast.voice.url}" controls style="text-align:left;">
			</audio>
			<a class="btn btn-info btn-small" role="button" th:attr="href=${broadcast.voice.url}" style="text-align:right;margin-bottom:25px;margin-left:10px" download>
				<i class="icon-white icon-download-alt"></i> Download Audio
			</a>
		</div>
		<div class="span4"></div>
	</div>
	<div class="row-fluid">
		<div class="span6">
			<div style="text-align:left;">
		      	<button class="btn btn-info btn-small" onclick="recordFile.init()" id="voice-record" data-toggle="modal" data-title="Record" data-target="#record-modal" align="center">
					<i class="icon-headphones icon-white"></i> Record New Audio
				</button>
			</div>
		</div>
		<div class="span6"></div>
	</div>
			
	<div class="row-fluid">
		<div class="span8" style="text-align:left;margin-top:15px;">		
			<div id="broadcast-message">
				<!-- TODO have to change styling of this button -->
				<label class="custom-file-upload btn btn-info btn-small" role="button">
					<input id="broadcast-message-file" type="file" size = "4" name="myFile" file-model="myFile" />
					<i class="icon-folder-open icon-white"></i> Choose Audio
				</label>
				<span id="broadcast-file-url"></span>
				<button type="submit" class="btn btn-info btn-small" id="voice-upload" style="margin-left:10px;">
					<i class="icon-upload icon-white"></i> Upload Chosen Audio
				</button>
			</div>
		</div>
		<div class="span4"></div>
	</div>
		     	
	<div class="row-fluid" style="margin-top:15px";>
		<div class="span6" style="text-align:left;">
			<button class="btn btn-success" id="voice-broadcast" data-toggle="modal" data-title="Broadcast" data-target="#broadcast-modal" align="center">
				<i class="icon-bullhorn icon-white"></i> Broadcast
			</button>
		</div>
		<div class="span6"></div>
	</div>
</div>
			
<div class="modal fade" id="record-modal" tabindex="-1" role="dialog" aria-hidden="true">
   	<div class="modal-dialog">
		<div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                  <i class="icon-remove"></i>
              </button>
              <h4 class="modal-title custom_align" id="heading-record">Record</h4>
		</div>
   		<div class="modal-body">
       		<form class="form-horizontal">
          			<audio id="audio" controls></audio>
              			<br></br>
              			<br></br>
           			<div class="row-fluid">
              				<button class="btn btn-primary" id="recordButton" onclick="recordFile.startRecording();"><i class="icon-white icon-play"></i></button>
              				<button class="btn btn-primary" id="stopButton" onclick="recordFile.stopRecording();" disabled><i class="icon-white icon-stop"></i></button>
              				<a class="btn btn-info" role="button" id="audioDownload"><i class="icon-white icon-download"></i> Download</a>
					</div>
			</form>
   		</div>
    </div>
</div>

<div class="modal fade" id="broadcast-modal" tabindex="-2" role="dialog" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    <i class="icon-remove"></i>
			</button>
			<h4 class="modal-title custom_align" id="heading-broadcast">Broadcast</h4>
		</div>            
		<div class="modal-body">
			<form class="form-horizontal">
				<div>
					<div class="row-fluid">
						<div class="span4"><b>Response Type</b>
						</div>
						<div class="span8">
						</div>
					</div>
					<div id="options-list" class="row-fluid"> 
						<div id="options-column1" class="span4">
								<label>
									<input id="order-check" type="checkbox" name="order" value="1" th:checked="${broadcastDefaultSettings.askOrder}"/>  Order
								</label>
						</div>
						<div id="options-column2" class="span4">
								<label>
									<input id="feedback-check" type="checkbox" name="feedback" value="2" th:checked="${broadcastDefaultSettings.askFeedback}"/>  Feedback
							</label>
						</div>
						<div id="options-column3" class="span4">
								<label>
									<input id="response-check" type="checkbox" name="response" value="3" th:checked="${broadcastDefaultSettings.askResponse}"/>  Response
								</label>
						</div>	
					</div>            	
				</div>
				<br>
				<div class="row-fluid">
					<div class="span4">
						<button class="btn btn-info btn-small" data-toggle="collapse" data-target="#group-users">
						<i class="icon-user icon-white"></i>  Select Users
						</button>
					</div>
					<div class="span8">
					</div>
				</div>
				<br>
				<div id="group-users" class="collapse">
					<div>
						<div class="row-fluid">
							<div class="btn-group">
									<button id="select-all" class="btn btn-primary btn-mini">
										<i class="icon-ok icon-white"></i>  Select All Users
									</button>
									<button  id="unselect-all" class="btn btn-primary btn-mini">
										<i class="icon-remove icon-white"></i>  Unselect All Users
									</button>
							</div>
						</div>
					</div>
					<br>
 					<div id = "user-list">    	 						
						<div th:each="user,userStat : ${users}">
							<div th:if="${userStat.count%3 == 0}">
								<div class="row-fluid">	
									<div class="span4">
										<label>
											<input type="checkbox" class="checkthis" th:text ="'  '+${users[userStat.count-3].name}" th:value="${users[userStat.count-3].userId}" checked/>
										</label>
									</div>
									<div class="span4">
										<label>
											<input type="checkbox" class="checkthis" th:text ="'  '+${users[userStat.count-2].name}" th:value="${users[userStat.count-2].userId}" checked/>
										</label>
									</div>
									<div class="span4">
										<label>
											<input type="checkbox" class="checkthis" th:text ="'  '+${users[userStat.count-1].name}" th:value="${users[userStat.count-1].userId}" checked/>
										</label>
									</div>
								</div>
							</div>
						</div>
						<div th:if="${#lists.size(users)%3 == 2}">
							<div class="row-fluid" th:with="length=${#lists.size(users)}">
								<div class="span4">
									<label>
											<input type="checkbox" class="checkthis" th:text ="'  '+${users[length-2].name}" th:value="${users[length-2].userId}" checked/>
									</label>
								</div>
								<div class="span4">
									<label>
											<input type="checkbox" class="checkthis" th:text ="'  '+${users[length-1].name}" th:value="${users[length-1].userId}" checked/>
									</label>
								</div>
							</div>
						</div>
						<div th:if="${#lists.size(users)%3 == 1}">
							<div class="row-fluid" th:with="length=${#lists.size(users)}">
								<div class="span4">
										<label>
												<input type="checkbox" class="checkthis" th:text ="'  '+${users[length-1].name}" th:value="${users[length-1].userId}" checked/>
										</label>
								</div>
							</div>
						</div>	
					</div>       		
				</div>
					
<!-- 					<div> -->
<!--                    		<table> -->
<!--                        	    <tr> -->
<!--                                 <td> -->
<!--                                     <br> When do you want to broadcast the call -->
<!--                                 </td> -->
<!--                              </tr> -->
<!--                              <tr> -->
<!--                                     <td> -->
<!--                                         <input type="checkbox" class="tr" name="now" id="now" value="newCall" checked />Now -->
<!--                                     </td> -->
<!--                                     <td> -->
<!--                                         <input type="checkbox" class="tr" name="scheduled" id="scheduled" value="scheduled" onclick="scheduledTimes();" />Scheduled Times -->
<!--                                     </td> -->
<!--                              </tr> -->
<!--                              <tr> -->
<!--                                     <td> -->
<!--                                         <div id="scheduledTimes"></div> -->
<!--                                     </td> -->
<!--                              </tr> -->
<!--                              <tr> -->
<!--                                 	<td> -->
<!-- 											How many BackUp Call do you want:  -->
<!--                                             <select	name="backup_calls" id="backup_calls" onchange="dropDowns1();"> -->
<!--                                                 <option value="0">0 backupcall</option> -->
<!--                                                 <option value="1">1 backupcall</option> -->
<!--                                                 <option value="2">2 backupcall</option> -->
<!--                                                 <option value="3">3 backupcall</option> -->
<!--                                                 <option value="4">4 backupcall</option> -->
<!--                                                 <option value="5">5 backupcall</option> -->
<!--                                             </select> -->
<!--                                             <div id="myDiv"></div> -->
<!--                                 	</td> -->
<!--                              </tr> -->
<!--                              <tr> -->
<!--                                     <td> -->
<!--                                                 <input type="hidden" name="filePresent" id="filePresent" value="" /> -->
<!--                                                 <input type="hidden" name="fileName" id="fileName" value="" /> -->
<!--                                                 <input type="hidden" name="group_id" id="group_id"> -->
<!--                                                 <input type="hidden" name="tempflag" id="tempflag" value="mrequest" /> -->
<!--                                                  <input type="hidden" name="req_type" id="req_type" value="broadcast" /> -->
<!--                                     </td> -->
<!--                              </tr> -->
<!--                 		</table> -->
<!-- 					</div> -->
					
			</form>
		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-success" id="place-voice-broadcast-call" data-dismiss="modal" align="center">
				<i class="icon-white icon-ok"></i>Place Call
			</button>
			<button type="button" class="btn btn-default" data-dismiss="modal"><i class="icon-white icon-remove"></i> Cancel</button>                                       
		</div>
	</div>
</div>
                        <!-- /.modal-content -->
                        <!-- /.modal-dialog -->