<div ng-controller="GroupSettingsCtrl">
	<form class="form-horizontal">
		<fieldset>
			<div class="control-group">
				<label class="control-label" for="name">Group Id</label>
				<div class="controls">
					<input type="text" class="input-xlarge" id="groupId"
						th:value="${group.groupId}" disabled/>
				</div>
			</div>
	
			<div class="control-group">
				<label class="control-label" for="groupName">Group Name</label>
				<div class="controls">
					<input type="text" class="input-xlarge" id="changeGroupName"
						th:value="${group.name}" />
				</div>
			</div>
			
			<div th:if="${parentGroup.groupId != group.groupId}" class="control-group">
				<label class="control-label">Delete Group</label>
				<div class="controls">
					<button class="btn btn-warning" id="#delete-group-confirmation" data-title="View" data-toggle="modal" data-target="#delete-group-confirmation-modal">Delete</button>
				</div>
			</div>
	
			<div class="form-actions">
				<input type="submit" class="btn btn-success" value="Save Details" id="submitGroupSettings" />
			</div>
		</fieldset>
	</form>
	<div class="modal fade" id="delete-group-confirmation-modal" tabindex="-1" role="dialog" aria-labelledby="HeadingEdit" aria-hidden="true">
		<div class="modal-dialog">
		  <div class="modal-header">
		    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="icon-remove" aria-hidden="true"></i></button>
		    <h4 class="modal-title custom_align" id="HeadingEdit">Delete Group</h4>
		  </div>
		  <div class="modal-body">
		    <div class="fluid-row text-center">
			   	Do you want to delete this group? This action cannot be undone.
		    </div>
		    <hr>
		  </div>
		</div>
		<div class="modal-footer ">
		  <button type="button" id="delete-group" class="btn btn-warning"><i class="icon-white icon-trash"></i>  Delete</button>
		  <button type="button" class="btn btn-default" data-dismiss="modal"><i class="icon-white icon-remove"></i> Cancel</button>
		</div>
	</div>
</div>