<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<link th:href="@{/static/css/bootstrap.css}" rel="stylesheet">
<link th:href="@{/static/css/bootstrap-responsive.css}" rel="stylesheet">
<link th:href="@{/static/css/site.css}" rel="stylesheet"> 
<link th:href="@{/static/css/ruralivrs.css}" rel="stylesheet"> 
<title>Login | RuralIVRS</title>
</head>
<body>
<div class="container">
   <div class = "header">
      <div class="navbar-inner">
        <div class="container-fluid">
          <label class="organization">Rural Interactive Voice Response System</label>
        </div>
      </div>
    </div>
    <div class="row-fluid">
        <div class="span12">
            

            <div class="span6">
                <div class="area">
                   <div class="well hero-unit">
                   
                   <p>This website helps you connect easily to your customers. Some of the outstanding features of our website include:</p>
                   <ul>
                   <li>Broadcasting through phone</li>
                   <li>Broadcasting through SMS</li>
                   <li>Offline Billing</li>
                   <li>Receiving orders through phone</li>
                   <li>App for Android users</li>
                   </ul>
                   <p><a class="btn btn-success btn-large" href="http://ruralivrs.cse.iitb.ac.in/AFC/Document.jsp#no-back-button">User Guide &raquo;</a></p>
                   </div>
                </div>
            </div>
            <div class="span6">
                <div class="area">
                
                    <form class="form-horizontal" name="f" th:action="@{/login}" method="post">
                        <div class="heading">
                        <br>
                        <br>
                            <h4 class="form-heading">Sign In</h4>
                        </div>

                        <div class="control-group">
                            <label class="control-label" for=
                            "username">Username</label>

                            <div class="controls">
                                <input id="username" name="username" placeholder=
                                "E.g. sushmitasen@gmail.com" type="text">
                            </div>
                        </div>

                        <div class="control-group">
                            <label class="control-label" for=
                            "password">Password</label>

                            <div class="controls">
                                <input id="password" name="password" placeholder=
                                "Min. 8 Characters" type="password">
                            </div>
                        </div>

                    <div class="control-group">
                            <div class="controls">
<!--                                   <label class="checkbox"><input type="checkbox">
                                Keep me signed in ¦ <a class="btn btn-link"
                                href="#">Forgot my password</a></label> -->
                                <button class="btn btn-success" type=
                                "submit">Sign In</button> <button class="btn"
                                type="button">Help</button>
                            </div>
                        </div>

                        <div th:if="${param.error}" class="alert alert-error">
                            <button class="close" data-dismiss="alert" type=
                            "button">×</button> <strong>Access Denied.</strong>
                            Ensure that your username and password are correct, and that you're an
                            administrator of an organization.
                        </div>
                        <div th:if="${param.logout}" class="alert alert-success">
                            <button class="close" data-dismiss="alert" type=
                            "button">×</button> <strong>Logged out.</strong>
                            You have been logged out.
                        </div>
                    </form>
                </div>
                
            </div>
        </div>
    </div>
</div>

<script th:src="@{/static/js/libs/jquery.js}"></script>
<script th:src="@{/static/js/libs/bootstrap.min.js}"></script>

</body>
</html>