<div ng-controller="ManageOutboundCallsController">
	<div class="row-fluid">
		<h2>Outgoing Calls</h2><p hidden id="orgAbbrevation" th:text="${orgAbbrevation}">text</p></br>
			<form ng-submit="submit()" class="simple-form">
				
	  			From: <input type="date" id="fromDate2" name="From" ng-model="fromDate" placeholder="yyyy-mm-dd">
	  			To: <input type="date" id="toDate2" name="To" ng-model="toDate" placeholder="yyyy-mm-dd">
	    		<input type="submit" id="submitBut2" value="Submit" />
	  		</form>
	  	<table class="table table-striped table-bordered table-condensed" id="t01">
	  		<tr>
	    		<th>Date - Time</th>
	    		<th>Number</th>
	    		<th>Status</th>
			</tr>
			<tr ng-repeat="x in outgoingCallRows">
	  			<td>
	  				{{mySplit(x.dateTime ,0)}}
		  		</td>
		  		<td>
		  			{{x.phone}}
		  		</td>
		  		<td>
		  			{{x.status}}
		  		</td>
		  	</tr>
	  </table>
	</div>
</div>