<div ng-controller="OrderSummaryProductsController">
	<div class="row-fluid">
		<form class="simple-form">
			<h2>Order Summary(Product wise)</h2><p hidden id="orgAbbrevation" th:text="${orgAbbrevation}">text</p>
	    	</br></br></br>
	    	Product Name: 
	    	<select placeholder="Choose product" id="product" ng-model="name">
	    		<option th:each="product : ${products}" th:value="${product.productId}">
	    			<p th:text="${product.name}">text</p>
	    		</option>
	  		</select>
	  		From: <input type="date" id="fromDate" name="From" ng-model="fromDate" placeholder="yyyy-mm-dd">
	  		To:<input type="date" id="toDate" name="To" ng-model="toDate" placeholder="yyyy-mm-dd">
	    	<input type="submit" id="submitProducts" value="Submit" />
	  	</form>
	  	<table class="table table-striped table-bordered table-condensed" id="t01">
	    	<tr>
	    		<th>Group</th>
	    		<th>Quantity</th>
	    		<th>Amount</th>
			</tr>
	  		<tr ng-repeat="x in orderSummariesProduct">
	  			<td>{{x.groupName}}</td>
	  			<td class="quantity">{{x.quantity}}</td>
	  			<td>₹ {{x.collection}}</td>
	  		</tr>
	  		<tr>
	  			<td colspan="2">
	  				Total Amount
	  			</td>
	  			<td id="totalProducts">
	  				0
	  			</td>
	  		</tr>
	  	</table>
	</div>  
</div>
