<div id="settings-page-ids" ng-controller="SettingsCtrl">

	<div class="row-fluid">
		<div class="page-header">
			<h1>
				Settings <small>Edit</small>
			</h1>
		</div>
	</div>
	<ul class="nav nav-tabs top-tab-bar" id="interest_tabs">
		<!--top level tabs-->
		<li><a href="#profile-settings" data-toggle="tab">Profile</a></li>
		<li class="active"><a href="#system-settings" data-toggle="tab">System</a>
		</li>
		<!-- 
	TODO for future
	<li><a href="#bill-layout-settings" data-toggle="tab">Bill Layout</a>
	</li> -->

	</ul>
	<div class="tab-content">
		<div id="profile-settings" class="tab-pane">
			<br> <br>
			<form class="form-horizontal">
				<fieldset>
					<div class="control-group">
						<label class="control-label" for="name">Name</label>
						<div class="controls">
							<input type="text" class="input-xlarge" id="name"
								th:value="${user.name}" />
						</div>
					</div>
					<div class="control-group">
						<label class="control-label" for="email">E-mail</label>
						<div class="controls">
							<input type="text" class="input-xlarge" th:value="${user.email}"
								id="email" />
						</div>
					</div>
					<div class="control-group">
						<label class="control-label" for="new-password">New
							Password</label>
						<div class="controls">
							<input type="password" class="input-xlarge" id="new-password" />
						</div>
					</div>
					<div class="control-group">
						<label class="control-label" for="re-new-password">Re-type
							new password</label>
						<div class="controls">
							<input type="password" class="input-xlarge" id="re-new-password" />
						</div>
					</div>
					<div class="control-group">
						<label class="control-label" for="pnohe">Phone</label>
						<div class="controls">
							<input type="text" class="input-xlarge" id="phone"
								th:value="${userPhoneNumber.phoneNumber}" />
						</div>
					</div>
					<div class="control-group">
						<label class="control-label" for="city">City</label>
						<div class="controls">
							<input type="text" class="input-xlarge" id="city"
								th:value="${user.address}" />
						</div>
					</div>
					<div class="form-actions">
						<input type="submit" ng-click="updateSetting()"
							class="btn btn-success" value="Save Details" /> <a class="btn"
							href="#/settings">Cancel</a>
					</div>
				</fieldset>
			</form>
		</div>
		<div id="system-settings" class="tab-pane active">
			<!--system settings tab menu-->
			<div id="broadcast" class="tab-pane">
				<ul class="nav nav-tabs bottom-tab-bar" id="brands_tabs">
					<li class="active"><a href="#welcome-message-settings"
						data-toggle="tab">Welcome Message</a></li>
					<li><a href="#inbound-call-settings" data-toggle="tab">Inbound
							Call</a></li>
					<li><a href="#voice-call-settings" data-toggle="tab">Voice
							Call</a></li>
					<li><a href="#dashboard-settings" data-toggle="tab">Dashboard</a>
					</li>
					<li><a href="#broadcast-default-settings" data-toggle="tab">Broadcast
							Default Settings</a></li>
				</ul>
				<!--system settings tab content-->
				<div class="tab-content">
					<div id="welcome-message-settings" class="tab-pane active">
						<div class="table-settings-system">
							<table style="border-spacing: 40px 10px;">
								<tr>
									<td align='right'><b> Select Language :</b></td>

									<td><select id='select-welcome-message-language'
										ng-model=WelcomeMessageLanguageSelect
										ng-options="option.value as option.language for option in languageOptions"
										class="table-input-1" name='select-welcome-message'>
									</select></td>
								</tr>

								<tr>
									<td align='right'>Current Welcome Message :</td>
									<td><audio id='welcome-message-audio' controls>
											<source
												src="http://ruralict.cse.iitb.ac.in/Downloads/voice/welcomeMessage_en.wav"
												type="audio/wav"></source>
										</audio></td>
								</tr>

								<tr>
									<td align='right'>Download Current Message File :</td>
									<td><a id='download-message-audio'
										href="http://ruralict.cse.iitb.ac.in/Downloads/voice/welcomeMessage_en.wav"
										download>Download</a></td>

								</tr>

								<tr>
									<td align='right'>Upload New Welcome Message File :</td>
									<td>
										<button class="btn btn-success" onclick="recordFile.init()"
											id="voice-record" data-toggle="modal" data-title="Record"
											data-target="#welcome-message-record-modal" align="center">Record</button>
										<br> <input type="file" name="myFile" file-model="myFile"
										id="welcome_message">
									</td>
								</tr>

							</table>
							<div class="form-actions">
								<div class="row">
									<div class="span2">
										<input style="float: right" type="submit"
											class="btn btn-success" ng-click="uploadFile()"
											value="Save Details" />
									</div>
									<div class="span10">
										<button type="button" class="btn btn-warning"
											data-toggle="modal" data-target="#reset-confirmation-modal">Reset</button>
									</div>
								</div>
							</div>
						</div>
					</div>


					<div id="broadcast-default-settings" class="tab-pane">
						<ng-include th:attr="src='\'broadcastDefaultSettings'+'\''"></ng-include>

					</div>
					<div id="inbound-call-settings" class="tab-pane">
						<div class="table-settings-system">
							<table>
								<tr>
									<b>INCOMING CALL SETTINGS :</b>
								</tr>
								<tr>
									<td><b>Call Flow :</b><br><br> 
										<input type="checkbox" ng-model=incomingCheckBoxOptions.order name="orderIncoming" />Order<br> 
										<input type="checkbox" ng-model=incomingCheckBoxOptions.feedback name="feedbackIncoming" />Feedback<br>
										<input type="checkbox" ng-model=incomingCheckBoxOptions.response name="responseIncoming" />Response<br>
									</td>
								</tr>
							</table>
						</div>
						<div class="form-actions">
							<input type="submit" ng-click="updateIncomingCallOpt()"
								class="btn btn-success" value="Save Details" />
						</div>
					</div>
					<div id="voice-call-settings" class="tab-pane">
						<div class="table-settings-system">
							<b>VOICE CALL OPTIONS :</b>
							<table>
								<tr>
									<td>Order Cancellation</td>
									<td><select id='ordercancel' ng-model=orderCancelSelect
										ng-options="option.value as option.name for option in selectOptions"
										class="table-input-1" name='ordercancel'>
									</select></td>
								</tr>


								<tr>
									<td>Broadcast Enabler</td>

									<td><select id='broadcast' ng-model=broadcastEnableSelect
										ng-options="option.value as option.name for option in selectOptions"
										class="table-input-1" name='broadcast'>
									</select></td>
								</tr>


								<!-- 
							For future
							<div id="Latest_broadcast_div">

								<tr id="Latest_broadcastdiv">
									<td>Latest broadcast enabler:</td>
									<td>
										<select name="Latest_broadcast"  ng-model=latestBroadcastSelect ng-options="option.value as option.name for option in selectOptions" class="table-input-1 table-width " id="Latest_broadcast">
										</select>
									</td>
								</tr>
							</div>
							<div id="Previous_broadcast_div">

								<tr id="Previous_broadcastdiv">
									<td>Previous broadcast enabler:</td>
									<td>
										<select name="Previous_broadcast" ng-model=previousBroadcastSelect ng-options="option.value as option.name for option in selectOptions" class="table-input-1 table-width table-display" id="Previous_broadcast">
										</select>
									</td>
								</tr>
							</div>


							<div id="Repeat_broadcast_div">

								<tr id="Repeat_broadcastdiv">
									<td>Repeat broadcast enabler:</td>
									<td>
										<select name="repeat_broadcast"  ng-model=repeatBroadcastSelect ng-options="option.value as option.name for option in selectOptions" class="table-input-1 table-width" id="repeat_broadcast">
										</select>
									</td>

								</tr>
							</div>
 -->
								<br />

							</table>
							<div class="form-actions">
								<input type="submit" class="btn btn-success"
									ng-click="updateVoiceCallOpt()" value="Save Details" />
							</div>
						</div>
					</div>
					<div id="dashboard-settings" class="tab-pane">
						<div class="table-settings-system">
							<b>VOICE RESPONSE MESSAGE(DASHBOARD) OPTIONS :</b> <br>
							<table>

								<tr>
									<td>Feedback Enabler</td>
									<td><select id='feedback'
										class="table-input-1 table-width" ng-model=feedbackSelect
										ng-options="option.value as option.name for option in selectOptions"
										name='feedback'>
									</select></td>
								</tr>


								<tr>
									<td>Response Enabler</td>
									<td><select id='response'
										class="table-input-1 table-width" ng-model=responseSelect
										ng-options="option.value as option.name for option in selectOptions"
										name='response'>
									</select></td>
								</tr>


								<tr>
									<td>Bill Enabler</td>
									<td>
										<!-- <select id='bill' class="table-input-1 table-width" name='bill' onchange="disableBilldown();"> -->
										<select id='bill' class="table-input-1 table-width"
										ng-model=billSelect
										ng-options="option.value as option.name for option in selectOptions"
										name='bill'>
									</select>
									</td>
								</tr>


								<!-- 
							TODO For future
							<tr>
								<td>Save Enabler</td>
								<td>
									<select id='save-menu' class="table-input-1 table-width" ng-model=saveSelect ng-options="option.value as option.name for option in selectOptions" name='save'>
									</select>
								</td>
							</tr>

							<tr>
								<td>Reject Enabler</td>
								<td>
									<select id='reject-menu' class="table-input-1 table-width" ng-model=rejectSelect ng-options="option.value as option.name for option in selectOptions" name='reject'>
									</select>
								</td>
							</tr> -->

								<tr>
									<td>Text Message Response</td>
									<td><select id='text-menu'
										class="table-input-1 table-width" ng-model=textSelect
										ng-options="option.value as option.name for option in selectOptions"
										name='text_msg'>
									</select></td>
								</tr>
							</table>
							<div class="form-actions">
								<input type="submit" class="btn btn-success"
									ng-click="updateDashboardOpt()" id="save-btn-voice-dashboard"
									value="Save Details" />
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- <div id="bill-layout-settings" class="tab-pane">
	<br>
	<label>#bill-layout-settings</label>
	</div>
	
	<div id="ivrs-menu-settings" class="tab-pane">
	<br>
	<label>#ivrs-menu-settings</label>
	</div> -->



	</div>

	<!--  Confirmation Modal dialog for Reset button in Welcome Message Settings -->
	<div class="modal fade" id="reset-confirmation-modal" tabindex="-1"
		role="dialog" aria-labelledby="HeadingAddUser" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"
					aria-hidden="true">
					<i class="icon-remove"></i>
				</button>
				<h4 class="modal-title custom_align" id="HeadingMemebrDetails">Confirmation
					Box</h4>
			</div>
			<div class="modal-body">
				<label> Are you sure to reset to default welcome message settings ?</label>
			</div>
		</div>
		<div class="modal-footer ">
			<button type="button" class="btn btn-danger"
				ng-click="resetWelcomeMessageSettingsButton()"
				id="reset-confirmation-dialog-yes">
				<i class="icon-white icon-ok"></i>Yes
			</button>
			<button type="button" class="btn btn-success"
				id="reset-confirmation-dialog-no" data-dismiss="modal">
				<i class="icon-white icon-remove"></i>No
			</button>
		</div>
	</div>

</div>

<div class="modal fade" id="welcome-message-record-modal" tabindex="-1"
	role="dialog" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal"
				aria-hidden="true">
				<i class="icon-remove"></i>
			</button>
			<h4 class="modal-title custom_align" id="heading-record">Record</h4>
		</div>
		<div class="modal-body">
			<form class="form-horizontal">
				<audio id="audio" controls></audio>
				<br></br> <br></br>
				<div class="row-fluid">
					<button class="btn btn-primary" id="recordButton"
						onclick="recordFile.startRecording();">
						<i class="icon-white icon-play"></i>
					</button>
					<button class="btn btn-primary" id="stopButton"
						onclick="recordFile.stopRecording();" disabled>
						<i class="icon-white icon-stop"></i>
					</button>
					<a class="btn btn-info" role="button" id="audioDownload"><i
						class="icon-white icon-download"></i> Download</a>
				</div>
		</div>
		</form>
	</div>
</div>
</div>