<div id=broadcast-text-controller ng-controller="textBroadcastCtrl">
    <div id="broadcast-text-ids" th:attr="data-groupid=${groupId},data-publisherid=${publisher.userId}">
    </div>
    <div>
        <form class="form-horizontal">
            <fieldset>
                <div class="control-group">
                    <label class="control-label" for="name">Message to be sent
                    </label>
                    <div class="controls">
                        <textarea name="message" ng-model="textContent" rows="5" cols="30" placeholder="Type your message here...." id="sms-message"></textarea>
                    </div>
                </div>

                <div class="form-actions">
                    <!--  <input type="submit" class="btn btn-success" data-toggle="modal" data-title="Broadcast" data-target="#broadcast-text-modal" align="left" value="Broadcast" /> -->
                    <button class="btn btn-success" id="broadcast" data-toggle="modal" data-title="Broadcast" data-target="#broadcast-text-modal" align="center">Broadcast</button>
                </div>
            </fieldset>
        </form>
	</div>
</div>
 
<div class="modal fade" id="broadcast-text-modal" tabindex="-1" role="dialog" aria-labelledby="HeadingAddUser" aria-hidden="true">
	<div class="modal-dialog">
	    <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
	            <i class="icon-remove"></i>
	        </button>
	        <h4 class="modal-title custom_align" id="HeadingUser">Text Broadcast</h4>
		</div>
		<div class="modal-body">
          	<form class="form-horizontal">
        	    <div class="row-fluid">
					<div class="span4">
						<button class="btn btn-info btn-small" data-toggle="collapse" data-target="#text-broadcast-group-users">
							<i class="icon-user icon-white"></i>  Select Users
						</button>
					</div>
					<div class="span8">
					</div>
				</div>
				<br>
				<div id="text-broadcast-group-users" class="collapse">
					<div class="row-fluid">
						<div class="btn-group">
								<button id="text-broadcast-select-all" class="btn btn-primary btn-mini">
									<i class="icon-ok icon-white"></i>  Select All Users
								</button>
								<button  id="text-broadcast-unselect-all" class="btn btn-primary btn-mini">
									<i class="icon-remove icon-white"></i>  Unselect All Users
								</button>
						</div>
					</div>
					<br>
					<div id = "text-broadcast-user-list">    	 						
						<div th:each="user,userStat : ${users}">
							<div th:if="${userStat.count%3 == 0}">
								<div class="row-fluid">	
									<div class="span4">
										<label>
											<input type="checkbox" class="checkthis" th:text ="${users[userStat.count-3].name}" th:value="${users[userStat.count-3].userId}" checked/>
										</label>
									</div>
									<div class="span4">
										<label>
											<input type="checkbox" class="checkthis" th:text ="${users[userStat.count-2].name}" th:value="${users[userStat.count-2].userId}" checked/>
										</label>
									</div>
									<div class="span4">
										<label>
											<input type="checkbox" class="checkthis" th:text ="${users[userStat.count-1].name}" th:value="${users[userStat.count-1].userId}" checked/>
										</label>
									</div>
								</div>
							</div>
						</div>
						<div th:if="${#lists.size(users)%3 == 2}">
							<div class="row-fluid" th:with="length=${#lists.size(users)}">
								<div class="span4">
									<label>
											<input type="checkbox" class="checkthis" th:text ="${users[length-2].name}" th:value="${users[length-2].userId}" checked/>
									</label>
								</div>
								<div class="span4">
									<label>
											<input type="checkbox" class="checkthis" th:text ="${users[length-1].name}" th:value="${users[length-1].userId}" checked/>
									</label>
								</div>
							</div>
						</div>
						<div th:if="${#lists.size(users)%3 == 1}">
							<div class="row-fluid" th:with="length=${#lists.size(users)}">
								<div class="span4">
										<label>
												<input type="checkbox" class="checkthis" th:text ="${users[length-1].name}" th:value="${users[length-1].userId}" checked/>
										</label>
								</div>
							</div>
						</div>	
					</div>       		
				</div>
			</form>
		</div>
	</div>     
	<div class="modal-footer">
		<button type="button" ng-click=saveTextBroadcastBtn() class="btn btn-success" id="place-text-broadcast-call" align="center">
			<i class="icon-white icon-ok"></i>Send SMS
		</button>
		<button type="button" class="btn btn-default" data-dismiss="modal"><i class="icon-white icon-remove"></i> Cancel</button>                                       
	</div>
    
</div>
